// SPDX-License-Identifier: GPL-2.0
/*
 * Analog Devices ADALM Pluto
 * https://wiki.analog.com/university/tools/pluto
 * https://wiki.analog.com/university/tools/pluto/users
 * https://wiki.analog.com/university/tools/pluto/users/firmware
 * https://wiki.analog.com/university/tools/pluto/other
 *
 * hdl_project: <pluto>
 * board_revision: <C>
 *
 * Copyright (C) 2016-2019 Analog Devices Inc.
 */
/dts-v1/;
#include "zynq-pluto-sdr.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_default>;
};

&gem0 {
	status = "okay";

    pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem0_default>;
};

&usb0 {
	xlnx,phy-reset-gpio = <&gpio0 46 0>;
	dr_mode = "otg";
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_default>;
	usb-phy = <&usb_phy0>;
};

&amba {
	axi_spi: axi_quad_spi@7C430000 {
		#address-cells = <1>;
		#size-cells = <0>;
		bits-per-word = <8>;
		compatible = "xlnx,xps-spi-2.00.a";
		fifo-size = <16>;
		interrupt-parent = <&intc>;
		interrupts = <0 55 IRQ_TYPE_LEVEL_HIGH>;
		cs-gpios = <&gpio0 49 0>;
		num-cs = <0x1>;
		reg = <0x7C430000 0x10000>;
		xlnx,num-ss-bits = <0x1>;
		xlnx,spi-mode = <0>;

		spidev0: spidev@0 {
			compatible = "adi,swspi";
			reg = <0>;	/* CE0 */
			#address-cells = <1>;
			#size-cells = <0>;
			spi-max-frequency = <125000000>;
		};
	};
};

&adc0_ad9364 {
	/* This property is controlled by u-boot environment. */
	adi,2rx-2tx-mode-enable;
};

&cf_ad9364_dac_core_0 {
	/* This property is controlled by u-boot environment. */
	compatible = "adi,axi-ad9361-dds-6.00.a";
};

&sdhci0 {
	status = "okay";
    disable-wp;
	};
	
&gem0 {
	status = "ok";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem0_default>;


	ethernet_phy: ethernet-phy@1 {
		reg = <1>;
		device_type = "ethernet-phy";
	};
};

&pinctrl0 {
	pinctrl_gem0_default: gem0-default {
			mux {
				function = "ethernet0";
				groups = "ethernet0_0_grp";
			};

			conf {
				groups = "ethernet0_0_grp";
				slew-rate = <0>;
				io-standard = <1>;
			};

			conf-rx {
				pins = "MIO22", "MIO23", "MIO24", "MIO25", "MIO26", "MIO27";
				bias-high-impedance;
				low-power-disable;
			};

			conf-tx {
				pins = "MIO16", "MIO17", "MIO18", "MIO19", "MIO20", "MIO21";
				low-power-enable;
				bias-disable;
			};

			mux-mdio {
				function = "mdio0";
				groups = "mdio0_0_grp";
			};

			conf-mdio {
				groups = "mdio0_0_grp";
				slew-rate = <0>;
				io-standard = <1>;
				bias-disable;
			};
	};

	pinctrl_usb0_default: usb0-default {
		mux {
			groups = "usb0_0_grp";
			function = "usb0";
		};

		conf {
			groups = "usb0_0_grp";
			slew-rate = <0>;
			io-standard = <1>;
		};

		conf-rx {
			pins = "MIO29", "MIO31", "MIO36";
			bias-high-impedance;
		};

		conf-pull-up {
			pins = "MIO46";
			bias-pull-up;
		};

		conf-tx {
			pins = "MIO28", "MIO30", "MIO32", "MIO33", "MIO34",
					"MIO35", "MIO37", "MIO38", "MIO39";
			bias-disable;
		};
	};

	pinctrl_gpio0_default: gpio0-default {
		mux {
			function = "gpio0";
			groups = "gpio0_7_grp", "gpio0_11_grp", "gpio0_14_grp", "gpio0_46_grp";
		};

		conf {
			groups = "gpio0_7_grp", "gpio0_11_grp", "gpio0_14_grp", "gpio0_46_grp";
			slew-rate = <0>;
			io-standard = <1>;
		};

		conf-pull-up {
			pins = "MIO14";
			bias-pull-up;
		};

		conf-pull-none {
			pins = "MIO7", "MIO11";
			bias-disable;
		};
	};

	pinctrl_sdhci0_default: sdhci0-default {
		mux {
			groups = "sdio0_2_grp";
			function = "sdio0";
		};

		conf {
			groups = "sdio0_2_grp";
			slew-rate = <0>;
			io-standard = <1>;
			bias-disable;
		};

		mux-cd {
			groups = "gpio0_47_grp";
			function = "sdio0_cd";
		};

		conf-cd {
			groups = "gpio0_47_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <0>;
			io-standard = <1>;
		};
	};

	pinctrl_uart1_default: uart1-default {
		mux {
			groups = "uart1_1_grp";
			function = "uart1";
		};

		conf {
			groups = "uart1_1_grp";
			slew-rate = <0>;
			io-standard = <1>;
		};

		conf-rx {
			pins = "MIO13";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO12";
			bias-disable;
		};
	};
};


/ {
	model = "Analog Devices PlutoSDR Rev.C (Z7010/AD9363)";

	
	aliases {
		ethernet0 = &gem0;
		mmc0 = &sdhci0;
	};

	leds {
		compatible = "gpio-leds";
		led0 {
			label = "led0:green";
			gpios = <&gpio0 15 0>;
			linux,default-trigger = "heartbeat";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		button {
			interrupt-parent = <&gpio0>;
			interrupts = <14 IRQ_TYPE_EDGE_FALLING>;
			label = "Button";
			linux,code = <BTN_MISC>;
		};
	};
};

